In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from tqdm.autonotebook import tqdm
from joblib import Parallel, delayed
import umap
import pandas as pd

/mnt/cube/tsainbur/conda_envs/tpy3/lib/python3.6/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [3]:
from avgn.utils.paths import DATA_DIR, most_recent_subdirectory, ensure_dir
from avgn.visualization.spectrogram import draw_spec_set
from avgn.utils.buckeye_utils import VOWEL_CONSONANT

### load data

In [4]:
DATASET_ID = 'buckeye'

In [5]:
df_loc = DATA_DIR / 'syllable_dfs' / DATASET_ID / 'phones_uniform.pickle'
df_loc

PosixPath('/local/home/tsainbur/github_repos/avgn_paper/data/syllable_dfs/buckeye/phones_uniform.pickle')

In [6]:
syllable_df = pd.read_pickle(df_loc)

In [7]:
syllable_df[:3]

,start_time,end_time,labels,word,utterance_number,position_in_utterance,position_in_word,word_number,indv,indvi,age,sex,key,rate,spectrogram
0,24.457298,24.722471,ah,uh,0,0,0,0,s25,0,o,f,s2501b,16000,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,24.722471,24.792000,ih,it's,1,1,0,1,s25,0,o,f,s2501b,16000,"[[195, 192, 185, 177, 166, 150, 132, 127, 126,..."
2,24.792000,24.847660,t,it's,2,1,1,1,s25,0,o,f,s2501b,16000,"[[226, 224, 220, 215, 208, 200, 191, 183, 178,..."

In [8]:
# individuals
pd.DataFrame({i:[np.sum(syllable_df.indv == i)] for i in syllable_df.indv.unique()})

,s25,s08,s24,s40,s15,s17,s13,s16,s26,s35,...,s32,s01,s14,s28,s29,s31,s39,s04,s33,s21
0,25202,22740,20594,20875,24782,15757,27232,34809,13275,26874,...,17189,14526,26115,20719,23643,15280,20782,19112,17679,13974

In [9]:
# most frequent_phones
freq_phones = (
    pd.DataFrame(
        {i: [np.sum(syllable_df.labels == i)] for i in syllable_df.labels.unique()}
    )
    .T.sort_values(by=0, ascending=False)[:45]
    .T
)
freq_phones

,ah,ih,n,s,eh,t,iy,r,k,l,...,en,uh,sh,aw,ch,jh,el,em,zh,own
0,70395,63002,49641,41791,36258,33962,33462,30467,27235,27012,...,6241,6056,5985,4934,4750,4525,4145,3003,1007,669

In [11]:
subset_df = syllable_df[
    syllable_df.labels.isin(freq_phones.columns)
]

specs = list(subset_df.spectrogram.values)
specs = [i/np.max(i) for i in tqdm(specs)]

KeyboardInterrupt:

In [ ]:
from PIL import Image
def norm(x):
    return (x - np.min(x)) / (np.max(x) - np.min(x))

def resize_spec(spec, resize_shape=(32,32)):
    resize_spec = np.array(Image.fromarray(spec).resize(resize_shape, Image.ANTIALIAS))
    return resize_spec

In [ ]:
specs = [(norm(resize_spec(i))*255).astype('uint8') for i in tqdm(specs)]

In [ ]:
df_loc = DATA_DIR / 'syllable_dfs' / DATASET_ID / 'phones_uniform.pickle'

In [ ]:
specs_flattened = flatten_spectrograms(specs)
np.shape(specs_flattened)

#### cluster and plot

In [17]:
from cuml.manifold.umap import UMAP as cumlUMAP

In [18]:
cuml_umap = cumlUMAP()
embedding = cuml_umap.fit_transform(specs_flattened)

/mnt/cube/tsainbur/conda_envs/tpy3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Parameter should_downcast is deprecated, use convert_dtype in fit, fit_transform and transform  methods instead.
  """Entry point for launching an IPython kernel.
/mnt/cube/tsainbur/conda_envs/tpy3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Parameter should_downcast is deprecated, use convert_dtype in fit, fit_transform and transform  methods instead.

In [19]:
#fit = umap.UMAP()

In [20]:
np.shape(embedding)

(837207, 2)

In [21]:
z  = list(embedding)

In [22]:
z = np.vstack(z)